#mainForm{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

#lblTitle{
    color: #555555;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}